{% extends "profile.html" %} 
{% block title %}
Change password
{% endblock %} 
{% block content %}
<form action="/uploadnewdp" id="edit-profile" method="POST" enctype="multipart/form-data">
    <div class="input-container">
        <label>Upload new profile picture</label>
        <input type="file" placeholder="Enter your old password" name="profilepic" accept=".png" required>
    </div>
    <div class="input-container">
        <button type="submit">Save changes</button>
        <button type="reset">Reset</button>
    </div>
</form>
{% endblock %}