{% extends "profile.html" %} 
{% block title %}
Change password
{% endblock %} 
{% block content %}
<form action="/savechanges" id="edit-profile" method="POST">
    <div class="input-container">
        <label>Old password</label>
        <input type="password" placeholder="Enter your old password" name="old" required>
    </div>
    <div class="input-container">
        <label>New password</label>
        <input type="password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Password should contain at least one uppercase one lowercase one digit one special character and minimum 8 digit" placeholder="Enter your old password" name="new" required>
    </div>
    <div class="input-container">
        <label>Repeat your new password </label>
        <input type="password" placeholder="Enter your old password" name="repeat" required>
    </div>
    <div class="input-container">
        <button type="submit">Save changes</button>
        <button type="reset">Reset</button>
    </div>
</form>
{% endblock %}