<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .profile {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .info {
            display: inline-flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title></title>
</head>
<body>
    <div class="profile">
        <img src="/{{ userinfo[5] }}" width="100" style="border-radius: 50%;">
        <div class="info">
        <h3>{{ userinfo[0] }}</h3>
        <p>{{ userinfo [1] }}</p>
        <p><i class="fa-solid fa-cake-candles"></i> Created account on {{ userinfo[8] }}</p>
        <p><i class="fa-solid fa-cake-candles"></i> Born in {{ userinfo[2] }}</p>
        <p>From {{ userinfo[4] }}</p>
        <p>Gender {{ userinfo[3] }}</p>
        <div class="input-container">
            <button><a href="/chat/{{ userinfo[1] }}">Send message</a></button>
        </div>
    </div>
    </div>
</body>
</html>